/* changes the font of the tab box titles */
.nav-tabs {
  font-size: 18px;
}

/* dropdown buttons for inputs, axis options, downloads */
/*.dropdown-toggle.btn-primary {
  size: 50px;
}*/
.btn {
	padding: 20px 35px;
	font-size: 14px;
}

/*Increases teh size of the box titles*/
.box-header h3.box-title {
   /*font-weight: bold;*/
   font-size: 24px;
}

/*Increase the size of all text inside boxes*/
.box{
	font-size: 18px;
}